/MoziFejlettebbBackEnd/.vs
/MoziFejlettebbBackEnd/Mozi/Client/obj
/MoziFejlettebbBackEnd/Mozi/Client/bin
/MoziFejlettebbBackEnd/Mozi/Server/bin
/MoziFejlettebbBackEnd/Mozi/Server/obj
/MoziFejlettebbBackEnd/Mozi/Shared/bin
/MoziFejlettebbBackEnd/Mozi/Shared/obj