@page "/film"
@page "/film/{id:int}"
@inject IFilmService FilmService
@inject NavigationManager NavigationManager
@inject ITeremService TeremService
@inject ISzekService SzekService
@inject ISzineszService SzineszService
@using Syncfusion.Blazor.Grids;
@using Syncfusion.Blazor.Buttons;

<div class="padding">
@if (Id == null)
{
    <h3>Uj film</h3>
}
else
{
    <h3>A(z) @film.Nev adatai</h3>
}

<SfGrid DataSource="@termeklista" AllowPaging="true" AllowSorting="true" AllowFiltering="true">
    <GridPageSettings PageSize="5"></GridPageSettings>

    <GridColumns>
        <GridColumn Field=@nameof(Terem.Id) HeaderText="Terem száma"  Width="120"></GridColumn>
        <GridColumn Field=@nameof(Terem.TeremNev) HeaderText="Terem Neve"  Width="120"></GridColumn>                   
        <GridColumn HeaderText="Terem Info" TextAlign="TextAlign.Center" Width="120">
            <Template>
                @{
                    var terem = (context as Terem);   
                    <button class="btn btn-primary" @onclick="(()=>ShowTerem(terem.Id))">Info</button>
                }
            </Template>
        </GridColumn>
    </GridColumns>
    
</SfGrid>


<SfGrid DataSource="@szineszlista" AllowPaging="true" AllowSorting="true" AllowFiltering="true">
    <GridPageSettings PageSize="5"></GridPageSettings>

    <GridColumns>
        <GridColumn Field=@nameof(Szinesz.Nev) HeaderText="Név"  Width="120"></GridColumn>
        <GridColumn Field=@nameof(Szinesz.Kor) HeaderText="Kor"  Width="120"></GridColumn>                   
        <GridColumn Field=@nameof(Szinesz.Ertekeles) HeaderText="Értékelés"  Width="120"></GridColumn>                   
        <GridColumn HeaderText="Szinész Info" TextAlign="TextAlign.Center" Width="120">
            <Template>
                @{
                    var szinesz = (context as Szinesz);   
                    <button class="btn btn-primary" @onclick="(()=>ShowSzinesz(szinesz.Id))">Info</button>
                }
            </Template>
        </GridColumn>
    </GridColumns>
    
</SfGrid>




<button class="btn btn-primary" @onclick="(()=>ShowFilmek())">Vissza</button>
</div>

@code {
    [Parameter]
    public int? Id{ get; set; }


    public List<Terem> termeklista { get; set; }
    public List<Szinesz> szineszlista { get; set; }

    Mozi.Shared.Film film=new Mozi.Shared.Film();

    protected override async Task OnInitializedAsync()
    {
        await FilmService.GetFilmTermek((int)Id);
        await FilmService.GetFilmSzineszek((int)Id);
        termeklista = FilmService.Termek;
        szineszlista = FilmService.Szineszek;
    }

    protected override async Task OnParametersSetAsync()
    {
        if(Id!= null)
        {
            film = await FilmService.GetSingleFilm((int)Id);
            termeklista = FilmService.Termek;


        }
    }
    void ShowFilmek()
    {
        NavigationManager.NavigateTo("filmek");   
    }

    void ShowTerem(int id)
    {
        NavigationManager.NavigateTo($"terem/{id}");    
    }
    void ShowSzinesz(int id)
    {
        NavigationManager.NavigateTo($"szinesz/{id}");    
    }



}

<style>
.padding {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

</style>