@page "/"
@using Syncfusion.Blazor.Inputs
@using System.ComponentModel.DataAnnotations;
<!--


 <EditForm Model="@employeeModel">
     <DataAnnotationsValidator />
     <ValidationSummary />
     <div class="form-group">
         <label for="first-name">First Name:</label>
         <SfTextBox ID="first-name" @bind-Value="employeeModel.FirstName"></SfTextBox>
     </div>
     <div class="form-group">
         <label for="last-name">Last Name:</label>
         <SfTextBox ID="last-name" @bind-Value="employeeModel.LastName"></SfTextBox>
     </div>
     <SfButton>Submit</SfButton>
 </EditForm>



 -->
 @code {
     private EmployeeDetails employeeModel = new EmployeeDetails();

     public class EmployeeDetails
     {
         [Required(ErrorMessage = "Please enter {0}.")]
         public string FirstName { get; set; }

         [Required(ErrorMessage = "Please enter {0}.")]
         public string LastName { get; set; }

     }
 }